<div class="container">
    <h1>Asset</h1>
  
    <a href="#" routerLink="/asset/create/" class="btn btn-success">Create New Asset</a>
    
    <table class="table table-bordered">
      <tr>
        <th>Description</th>
        <th>AnalysisDate</th>
        <th>Material</th>
        <th>Year Built</th>
        <th>Next Inspection Date</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let asset of assets">
        <td>{{ asset.description }}</td>
        <td>{{ asset.analysisDate }}</td>        
        <td>{{ asset.material }}</td>
        <td>{{ asset.yearBuilt }}</td>
        <td>{{ asset.nextInspectionDate }}</td>
        <td>
          <a href="#" [routerLink]="['/asset/', asset.assetID, 'view']" class="btn btn-info">View</a>
          <a href="#" [routerLink]="['/asset/', asset.assetID, 'edit']" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteSkillSet(asset.assetID)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </div>
