<div class="container">
    <h1>Create New Asset</h1>

    <a href="#" routerLink="/asset/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div formGroupName="Asset">
        <div class="row">
            <div class="col">
                <label for="description">Description:</label>
                <input formControlName="description" id="description" type="text" class="form-control">
                <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
                    <div *ngIf="description.errors.required">description is required.</div>
                </div>
            </div>

            <div class="col">
                <label for="analysisDate">Analysis Date</label>
                <input formControlName="analysisDate" id="analysisDate" type="date" class="form-control">
                <div *ngIf="analysisDate.touched && analysisDate.invalid" class="alert alert-danger">
                    <div *ngIf="analysisDate.errors.required">Analysis Date is required.</div>
                </div>
            </div>

            <div class="col">
                <label for="material">Material</label>
                <input formControlName="material" id="material" type="text" class="form-control">
                <div *ngIf="material.touched && material.invalid" class="alert alert-danger">
                    <div *ngIf="material.errors.required">Material is required.</div>
                </div>
            </div>
            <div class="col">
                <label for="yearBuilt">Year Built</label>
                <input formControlName="yearBuilt" id="yearBuilt" type="number" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="lastInspectionDate">Last Inspection Date:</label>
                <input formControlName="lastInspectionDate" id="lastInspectionDate" type="date" class="form-control">
                <div *ngIf="lastInspectionDate.touched && lastInspectionDate.invalid" class="alert alert-danger">
                    <div *ngIf="lastInspectionDate.errors.required">Last Inspection Date is required.</div>
                </div>
            </div>

            <div class="col">
                <label for="nextInspectionDate">Next Inspection Date</label>
                <input formControlName="nextInspectionDate" id="nextInspectionDate" type="date" class="form-control">
                <div *ngIf="nextInspectionDate.touched && nextInspectionDate.invalid" class="alert alert-danger">
                    <div *ngIf="nextInspectionDate.errors.required">Next Inspection Date is required.</div>
                </div>
            </div>

            <div class="col">
                <label for="documentStatus">Document Status</label>
                <input formControlName="documentStatus" id="documentStatus" type="text" class="form-control">
            </div>
            <div class="col">
                <label for="comment">Comment</label>
                <input formControlName="comment" id="comment" type="text" class="form-control">
            </div>
        </div>
        </div>
        <div class="row p-3" formArrayName="Components">
            <div class="col">
                Component Name
            </div>
            <div class="col">
                Size
            </div>
            <div class="col">
                TNom
            </div>
            <div class="col">
                TMin
            </div>
            <div class="col">
            </div>
        </div>
        <div formArrayName="Components">
        <div class="row" *ngFor="let assetComponent of form.get('Components')['controls']; let i = index"
            [formGroupName]="i">
            <div class="col-sm">
                <input formControlName="componentName" id="componentName" type="text" class="short form-control"
                    placeholder="ComponentName">
            </div>
            <div class="col-sm">
                <input formControlName="size" id="size" type="number" class="short form-control" placeholder="Size">
            </div>
            <div class="col-sm">
                <input formControlName="tNom" id="tNom" type="number" class="short form-control" placeholder="TNom">
            </div>
            <div class="col-sm">
                <input formControlName="tMin" id="tMin" type="number" class="check form-control" title="TMin">
            </div>
            <div class="col-sm">
                <a  class="btn btn-primary" (click)="removeOrClearAssesComponent(i)" title="Remove">
                    -
                </a>
                <a  class="btn btn-primary ml-1" color="primary" (click)="addAssesComponentFormGroup()" title="Add">
                    +
                </a>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col mt-2">
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
            </div>
        </div>
    </form>
</div>